{# app/Resources/views/msg/msg.html.twig #}
<form method="post" action="creat" name="chk" onsubmit="return check()">

    一般留言板-v6 (Symfony Ver)<br>
    暱稱:<br />
    <input type="text" name="name" ) />
    <p>
        留言:<br />
        <textarea rows="10" cols="20" name="content"> </textarea>
        <p>
            <input type="submit" value="送出留言" />
            <input type="reset" value="清空留言" />
            <input type="button" name="Submit" value="查詢留言" class="btn" onclick="location.href='list'" />
</form>
<hr />
    <!-- 批次新增 -->
    <input type="button" name="Submit" value="批次新增2" class="btn" onclick="location.href='batchcreate'" />
    <!-- 批次刪除 -->
    <input type="button" name="Submit" value="批次刪除2" class="btn" onclick="location.href='batchremove'" />
</form>
<script type="text/javascript">
    function check() {
        if (chk.name.value == "") {
            alert("未輸入暱稱");
            return false;
        } else
            chk.submit();
    }
</script>